.header{
    position: fixed;
    margin-left: 82px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    padding: 2.1rem 4.8rem;
}

.header .headerContainer{
    display: flex;
    justify-content: space-between;
}
.header .headerContainer .navbar a{
    color: #000000;
    margin: 0 1.2rem;
    padding: .5rem 0;
}
.header .headerContainer .navbar a.active{
    border-bottom: 2px solid #000000;
}
.headerContainer .navbar a:hover{
    border-bottom: 2px solid #000000;
}
.headerContainer .call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.headerContainer .call a{
    color: #F1214F;
}
.headerContainer .call img{
    width: 32px;
}
.headerContainer .call img{
    display: none;
}

@media (max-width: 1000px){
    .header .headerContainer .navbar a{
        display: none;
    }
    .headerContainer .call img{
        display: inline-block;
    }
}
@media(max-width:800px){
    .header{
        margin-left: 0;
        padding: 1.5rem 1.5rem;
    }
    .header .headerContainer .navbar{
        display: none;
    }
    .headerContainer .call{
        width: 100%;
        display: flex;
        justify-content: space-between;        
    }
}